@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html {
  height: 100%;
}

:root {
  font-family: Comfortaa, sans-serif;
  --heading: 'Comfortaa', sans-serif;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  min-height: 100%;
  overflow-y: auto;
  background-color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 80px;
  /* if u remove this, the footer will overlap the content */
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: #231F3F;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}